body {
    position: relative;
    width: 1440px;
    height: 3268px;

    background: #FFFFFF;
}

#title {
    height: 33px;
    left: 0%;
    right: 86.28%;
    top: 15px;

    font-family: 'Jost', sans-serif, 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #272832;
}

#welcome_words {
    height: 44px;
    left: 0%;
    right: 79.47%;
    top: 3px;

    font-family: 'Jost', sans-serif, 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 44px;
}

.menu {
    height: 56px;
    left: 0%;
    right: 0%;
    top: 0px;

    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 0px;
}

.menu a {
    width: 110px;
    height: 20px;
    left: calc(50% - 110px/2);
    top: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    text-align: center;
    text-transform: capitalize;
}

.menu a:hover {
    color: rgb(187, 24, 24);
}

.menu a:active {
    color: rgb(50, 221, 107);
}

.menu a:visited {
    color: coral;

}

#email:required {
    border: 1px solid red;
}
